<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Index</title>
</head>
<body>
<!--/*@thymesVar id="recipe" type="tasty.food.recipeproject.domain.Recipe"*/-->
<h1 th:text="'My Recipe!!!'">My Recipe!</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr th:each="recipe:${recipes}">
            <td th:text="${recipe.id}">ID</td>
            <td th:text="${recipe.description}">Description</td>
            </tr>
        </tbody>
    </table>
</body>
</html>